# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
ENV/
env/

# Packages
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.spec

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# logs
*.log

# GitHub Actions artifacts
artifacts/
